<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
This is a test page.
<p>Header = <pre>{{ .header }}</pre></p>
<p>Body = {{ .body }}</p>
</body>
</html>